<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RDEntities" connectionString="Data Source=racedata2.cwhghi53cmoh.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=RACEDATA;User ID=codervince;Password=codervince"/>
  </connectionStrings>
</configuration>