<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="AsyncWrapper" name="common" >
      <target xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}_${level}_log.txt"  layout="${longdate} | ${callsite} | ${message} | ${exception:format=Message,StackTrace}" keepFileOpen="false" />
    </target>  
  </targets>

  <rules>
    <logger name="common" minlevel="Debug" writeTo="common" />    
  </rules>
</nlog>